@page "/travel-package"
@inject HttpClient Http
@using Microsoft.Extensions.Configuration
@using Models
@inject IConfiguration Configuration

<PageTitle>Travel Package</PageTitle>

<h1>Travel Package</h1>